<header class="container">
    <h1><a href="/"><em>appo</em>vet</a></h1>
    <nav>
        <ul>
            <li><a href="/signup">Signup</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </nav>
</header>