<%- include('partials/header') %>

    <div id="homepage">
        <%- include('partials/nav') %>

        <h2>Avoid hassles and Delays.</h2>
        <p>Schedule online appointment with a qualified vet Doc on <em><b>appovet</b></em></p>
        <div class="schedule-a">
            <a class="home-btn" href="/login">Schedule a visit</a>
        </div>
    </div>

<%- include('partials/footer') %>