<%- include('partials/header') %>

<main class="access-point">

    <form action="">
        <h2>Key in your details to <br> continue</h2>

        <label for="">Email</label>
        <input type="email">
        <label for="">Password</label>
        <input type="password">
        <input type="submit" value="Login" required>
        <p>Don't have an account? <a href="/signup">Sign Up</a></p>
    </form>
</main>

<%- include('partials/footer') %>